/* Subscribe Button */
.subscribe-button {
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}
.subscribe-button:hover {
  background-color: #0056b3;
}

/* Dark Theme */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
